<div class="dream">
<div class="title center-align">
<i class="far fa-lightbulb">
</i> &nbsp;&nbsp;干了这碗鸡汤</div>
<div class="row">
   <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
      <span id="hitokoto"><script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script></span>
   </div>
</div>
</div>